.nav {
  margin-top: 59px;
}

.nav__item {
  padding: 20px 0;

  &:nth-child(6) {
    padding-bottom: 34px;
  }

  &:nth-child(7) {
    padding-top: 34px;
  }
}

// .nav__item:hover {
//   background-color: #3f4049;
// }

.nav__link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #a4a6b3;
  img {
    margin-right: 24px;
  }
}

.active {
  background-color: #3f4049;
  border-left: 3px solid #9fa2b4;
  color: #dde2ff;
}

.ticket__select {
  border: none;
  outline: none;
  font-family: "Mulish";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #9fa2b4;
  cursor: pointer;
}

.footer__page {
  font-family: "Mulish";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #9fa2b4;
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.imgs img {
  cursor: pointer;
}