@import url("https://fonts.googleapis.com/css2?family=Mulishs, sans-serifh:wght@300;400;500;600;700;800;900&display=swap");

body {
  background: #f7f8fc;
}

.tickets {
  padding: 0;
  // width: 100%;
  // max-width: 546px;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.tickets__content {
  padding: 32px 32px 0 32px;
}

.tickets__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tickets__title {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

.tickets__link {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #3751ff;
  text-decoration: none;
}

.tickets__group {
  font-family: "Mulish";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9fa2b4;
}

.tickets__support {
  font-weight: bold;
}

.tickets__list {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  list-style-type: none;
}

.tickets__item-wrap {
  padding: 0 32px 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.tickets__item + .tickets__item {
  margin-top: 20px;
}

.tickets__line {
  display: block;
  border: 1px solid #dfe0eb;
  width: 100%;
  max-width: 546px;
}

.tickets__table {
  font-family: "Mulish";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  margin: 0;
}

.tickets__price {
  padding: 7px 12px;
  margin: 0;
  font-family: "Mulish";
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #9fa2b4;
}
